<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <!-- <script src="//static.gdzwfw.gov.cn/mhyy/browser-upgrade/index.js"></script> -->
    <title><%= VUE_APP_NAME %></title>
  </head>
  <body>
    <noscript>
      <strong>很抱歉， <%= VUE_APP_NAME %> 在禁用JavaScript的情况下无法使用，请开启JavaScript</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
